.card {
  perspective: 120rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40vh;
  @include respond(desktop) {
    height: 30vh;
  }
  @include respond(tab-port) {
    height: 24vh;
    margin-bottom: 2rem;
  }
  @include respond(phone) {
    margin-bottom: 2rem;
  }

  &__side {
    color: $color-primary-light;
    height: 40vh;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    @include respond(desktop) {
      height: 30vh;
    }
    @include respond(tab-port) {
      height: 24vh;
    }


    &--front {
      background-color: $color-primary;
    }

    &--back {
      color: $color-grey-light-2;
      padding: 4rem;
      text-align: center;
      font-size: 1.4rem;
      transform: rotateY(180deg);
      background-image: linear-gradient(to bottom, $color-primary-dark, $color-primary);
      @include respond(desktop) {
        padding: 4rem;
        font-size: 1.4rem;
      }
      @include respond(tab-port) {
        padding: 8rem;
        font-size: 1.8rem;
      }
      @include respond(phone) {
        padding: 3rem;
        font-size: 1.6rem;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &-box {
    color: $color-white;
    height: 40vh;
    background-color: $color-primary-dark;
    font-size: 1rem;
    padding: 3.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .45);
    transition: all .2s;

    @include respond(desktop) {
      height: 30vh;
    }
    @include respond(tab-port) {
      height: 24vh;
    }
    @include respond(phone) {
      padding: 1.5rem 1rem;
    }

    &__icon {
      font-size: 4rem;
      margin-bottom: .5rem;
      display: inline-block;
      color: $color-white;
      padding-top: 40px;
      @include respond(desktop) {
        font-size: 4rem;
        padding-top: 20px;
      }
      @include respond(tab-land) {
        font-size: 5rem;
        margin-bottom: .2rem;
        padding-top: 20px;
      }
      @include respond(phone) {
        font-size: 4rem;
        margin-bottom: -.8rem;
        padding-top: 10px;
      }
    }
    &__text{
      color: $color-grey-light-2;
      font-size: 1.2rem;
      @include respond(tab-port) {
        font-size: 1.8rem;
        padding: 0 7rem;
      }
      @include respond(phone) {
        font-size: 1.4rem;
        padding: 0 3rem;
      }
    }

    //back style
    &__cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;

    }


  }
}

