.footer{
  background-color: $color-primary;
  padding: 3rem 0;
  font-size: 1rem;
  @include respond(tab-land) {
    font-size: 1.6rem;
    padding: 3rem 2rem;
  }
  @include respond(tab-port) {
    font-size: 1.6rem;
    padding: 3rem 2rem;
  }
  &__adress{
    margin-bottom: 2rem;
    @include respond(tab-port) {
      margin-bottom: 1rem;
    }
  }

  &__logo-box{
    margin-top: 2rem;
    text-align: center;
    letter-spacing: .2rem;
  }
  &__logo{
    margin: 1rem;
    width: 10rem;
    height: 100%;
  }

  &__list{
    list-style: none;
    margin: 5rem;

  }
  &__item{
    display: inline;
    padding: 1rem;

  }
  &__link{
    &:link, &:visited{
      color: $color-grey-light-2;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: .4rem;
    }
    &:hover, &:active{
      color: $color-white;
      border-bottom: 3px solid $color-grey-dark;
      padding-bottom: 3px;

    }
  }
  &__text{
    margin-top: 6rem;
    color: $color-white;
  }
}