.row-portfolio{
  position: relative;
  height: 35vh;

}
.portfolio-box {
  transition: all .2s;
  height: 12rem;
  position: relative;
  background-color: $color-white;

  &__pic {
    width: 100%;
  }
  &:hover {
    height: 18rem;
  }
}
