.section-portfolio {
  padding: 10rem 0 10rem 0;
  background-image: linear-gradient(to bottom, $color-primary-dark, $color-primary-light);
  background-size: cover;

  margin-top: -14rem;

}
.section-experience{
  background-color: $color-black;

}

.section-about{
  padding: 6rem;
  background-color: $color-primary;
  position: relative;
}
.project{
  transform: translateY(50px);
  transition: all 1s ease-out;
  opacity: 0;
}
.project.fade-in{
  transform: translateY(0px);
  opacity: 1;
}
